name: Deploy
on:
  push:

jobs:
  release:
    uses: Invasor-de-Fronteiras/github-actions/.github/workflows/reusable-deploy.yml@main
    permissions:
      contents: write
      id-token: write
      packages: write
      issues: write
      pull-requests: write
    with:
      release_step_enabled: false